<div class="row">
    <div class="col-xs-12">
        <h1 class="text-center">Call for Bands</h1>
        <p>
            <strong>
                Submissions are now being accepted for performing ensembles at the 2019 CBDNA National Conference in Tempe, Arizona.
                <br />
                Dates: February 20 - 23, 2019
                Hosted by Gary Hill, Jason Caslor, and Arizona State University
            </strong>
        </p>

        <ul>
            <li>1) The deadline for submission of recordings is Friday, April 27, 2018.</li>
            <li>2) Recordings must be from the current academic year (2017-18) or one previous year (2016-17).</li>
            <li>3) Submit only live (in concert) unedited recordings no less than 30 minutes in length, and no longer than 45 minutes in length. Unedited refers to the performance itself, as in no correction of performance errors. Apply no post production edits to the recording (i.e., reverb, equalization, etc.).</li>
            <li>4) Selected schools will be notified as close to June 1, 2018 as possible.</li>
            <li>5) Immediate Past President Patrick Dunnigan will coordinate the jury process. All recordings will be screened by blind audition.</li>
            <li>6) Secure permission to submit an application from your Dean/Director prior to submitting. Have the discussion about finances now. By submitting an application you are certifying to us that you will accept an invitation to perform if offered.</li>
            <li>7) Applications will only be considered from members who have paid their dues for 2017-18. If you have not paid dues, you must do this BEFORE submitting an application.</li>
            <li>8) Ensembles selected to perform in 2017 (Kansas City) should not apply.</li>
            <li>9) The principal conductor of the ensemble must be the same across the application procedure and the actual performance. If there is a conductor/director change at the institution, the invitation to perform will be withdrawn. This does not apply, of course, to guest conductors (associate directors/faculty at the same institution).</li>
            <li>10) Ensembles selected to perform will be required to attend at least one other concert during their stay in Tempe.</li>
        </ul>

        <h3>Procedure to Upload Recordings and submit an application for CBDNA 2019 National Conference: Please follow these instructions carefully.</h3>

        <h4>STEP ONE: CREATE SOUND FILES</h4>

        <ul>
            <li>1) Your live concert recordings should be edited for one selection or movement per track. If there is no functional break between movements in a multi-movement work, submit as one track.</li>
            <li>2) Audio files should be in one of these four formats: wav, aif, m4a, or mp3. Please note that if you submit files in wav or aif format, these will be converted to mp3 before submitting to the screening panel.</li>
            <li>3) Label each track with a track number, composer last name and title. Use underscores instead of spaces, i.e., 01_ticheli_rest.mp3</li>
        </ul>

        <h4>STEP TWO: CREATE A DROPBOX FOLDER</h4>
            
        <ul>
            <li>1) You will upload the sound files to your own Dropbox account. If you do not have a Dropbox account, visit dropbox.com to create one. Its free.</li>
            <li>2) In Dropbox, create a folder with the following name: CBDNA Tempe <School Name>. Abbreviated names are fine. Examples: CBDNA Tempe Florida State University or CBDNA Tempe FL State</li>
            <li>3) Upload your sound files to this Dropbox folder.</li>
        </ul>

        <h4>STEP THREE: APPLICATION AND SUBMISSION</h4>

        <ul>
            <li>
                1) Visit this website:
                <a href="https://fsuchiefs.wufoo.com/forms/zk1xcv01r4ss0s/">https://fsuchiefs.wufoo.com/forms/zk1xcv01r4ss0s/</a>
            </li>
            <li>2) Complete all of the required information.</li>
            <li>3) List the track names from your Dropbox exactly as they appear in the Dropbox folder in the appropriate field. (You may use spaces instead of underscores here.)</li>
            <li>4) Return to your Dropbox folder and copy the link to that specific folder to your computer clipboard. This can be done from the desktop of any Mac or PC, or any web browser.</li>
            <li>5) Paste this link in the appropriate field on the application.</li>
            <li>6) When all fields have been entered, hit submit.</li>
            <li>7) Please leave the sound files in the Dropbox folder until June 1, 2018.</li>
        </ul>

        <p>Feel free to contact Patrick Dunnigan <a href="mailto:dunnigan@fsu.edu">dunnigan@fsu.edu</a> if you have any questions about or issues with the submission process.</p>

        <p>Good luck to all!</p>

        <p>
            Patrick Dunnigan<br/>
            Florida State University
        </p>
    </div>
</div>