<div class="row text-center">
    <div class="col-xs-12 col-sm-6">
        <h2>ASU Gammage</h2>
        <img class="img-responsive center-block" src='images/Gammage/Tempe Campus Views-9.jpg'/>
    </div>
    <div class="col-xs-12 col-sm-6">
        <h2>Tempe Center for the Arts</h2>
        <figure>
            <img class="img-responsive center-block" src="images/TCA/Venue with purple sky_Grant Brummett Photography_high res.jpg" />
            <figcaption>Photo by Grant Brummett Photography, courtesy of Tempe Center for the Arts.</figcaption>
        </figure>
    </div>
</div>