<div class="row text-center hidden-xs" style="background-color: white; padding-top:1em; padding-bottom:1em">
    <img style="width:40%;" src="images/asu_logo.jpg"/>
</div>
<div class="row text-center visible-xs-block" style="background-color: white; padding-top:1em; padding-bottom:1em">
        <img style="width:80%;" src="images/asu_logo.jpg"/>
    </div>
<div class="row text-center" style="background-color:white; color:black">
    <h2 ng-show="home.countdown.days > 0">The conference begins in {{home.countdown.days}} {{home.countdown.days > 1 ? 'days!' : 'day!'}}</h2>
    <h2>February 20 - 23, 2019</h2>
</div>