<div class="row">
    <div class="col-xs-12">
        <!-- Widget 1 small -->
        <div class="row info-window visible-xs-block no-gutter">
            <div class="col-xs-12">
                <div class="test clickable" style="background-image: url(images/Moxy/moxy.jpg)" data-toggle="modal"
                    data-target="#graduate"></div>
            </div>
            <div class="col-xs-12">
                <div class="row text-center">
                    <h2>
                        <a href="http://moxy-hotels.marriott.com/hotels/tempe" target="_blank">Moxy Tempe</a>
                    </h2>
                </div class="row text-center">
                <table class="table table-condensed" style="border-top-style:hidden">
                    <tr>
                        <td style="width:7em">
                            <strong>Address</strong>
                        </td>
                        <td>
                             1333 S Rural Rd
                            <br /> Tempe, AZ 85281
                        </td>
                    </tr>
                    <tr>
                        <td style="width:7em">
                            <strong>Phone</strong>
                        </td>
                        <td>480 968 3451</td>
                    </tr>
                    <tr>
                        <td style="width:7em">
                            <strong>Amenities</strong>
                        </td>
                        <td>
                            Complimentary upgraded Wi-Fi in all guest rooms
                            <br /> Complimentary self parking for all hotel guests
                            <br /> Complimentary continental breakfast daily
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- Widget 1 big -->
        <div class="row info-window hidden-xs">
            <div class="col-xs-12">
                <h2>
                    <a href="http://moxy-hotels.marriott.com/hotels/tempe" target="_blank">Moxy Tempe</a>
                </h2>
            </div>
            <div class="col-sm-3">
                <img class="img-responsive clickable" data-toggle="modal" data-target="#graduate" src="images/Moxy/moxy.jpg"
                />
            </div>
            <div class="col-sm-9">
                <table class="table table-condensed" style="border-top-style:hidden">
                    <tr>
                        <td style="width:7em">
                            <strong>Address</strong>
                        </td>
                        <td>
                             1333 S Rural Rd
                            <br /> Tempe, AZ 85281
                        </td>
                    </tr>
                    <tr>
                        <td style="width:7em">
                            <strong>Phone</strong>
                        </td>
                        <td>480 968 3451</td>
                    </tr>
                    <tr>
                        <td style="width:7em">
                            <strong>Amenities</strong>
                        </td>
                        <td>
                            Complimentary upgraded Wi-Fi in all guest rooms
                            <br /> Complimentary self parking for all hotel guests
                            <br /> Complimentary continental breakfast daily
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>