<div class="row">
    <div class="col-xs-12">
        <h2 class="text-center">Getting Around</h2>
    <p>
        <a href="https://www.skyharbor.com">Phoenix International Sky Harbor Airport (PHX)</a> is going to be your destination airport on your way to the 2019 CBDNA National
        Conference. PHX is by far the closest airport to Arizona State University’s Tempe Campus (about 4.5 miles). Depending on
        the traffic, the trip will take between 10-15 minutes.
    </p> 
    <p>
        <a href="https://www.supershuttle.com">SuperShuttle</a> (from and to the airport): The cost of the ride depends
        on whether or not there are stops-in-between. If you decide to head to Tempe area alone, it will cost you about $43. However,
        if you share your ride with others, you will only pay $13. Therefore, it is highly recommended to share the ride with other
        passengers heading to the Tempe area.
    </p> 
    <p>
        <a href="https://www.valleymetro.org">Light Rail:</a> On a tight budget? You might consider the Phoenix Light Rail. It can take
        you from PHX to your final destination for less than $3. Once you arrive at Phoenix International Airport (PHX), look for
        the free shuttles that take you from your terminal to the light rail station. Please keep in mind that light rail is run
        by Valley Metro, which also offers bus services.
    </p> 
    <p>
        <a href="https://www.uber.com">Uber/Lyft:</a> Uber and Lyft rides can be a faster and cheaper option for you,
        if you are looking to get to your destination in a timely manner. The ride mostly depends on the distance of your trip, traffic
        condition, as well as vehicle type. A typical ride to Tempe usually costs about $12.
    </p>
    <p>
        *Please note those are estimates and rates may change at any time without notice.
    </p>
    </div>
</div>